In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, func
import psycopg2

In [6]:
#format is //user:password@sql instance public IP address/database name
db_string = f"postgres://postgres:alcohol-ca@35.194.17.20/alcohol_cloud"

In [4]:
#create engine
engine = create_engine(db_string)

In [5]:
#import one of the following tables 
# alcohol_ca (very big messy merged table)
# alcohol_ca_clean (coming soon after data cleanup)
# alcohol_qrt_mile (original raw dataset)
# personal_income
# typology_ca
# unemployment
df = pd.read_sql_table('alcohol_ca',engine)
df.head()

,indicator_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips_id,...,manufacturing_2015,government_2015,recreation_2015,nonspecialized_2015,low_education_2015,low_employment_cnty,pop_loss_2010,retirement_dest_2015,persistent_poverty_2013,persistent_child_poverty_2013
0,774,Percent of Population within 1/4 Mile of Alcoh...,2014,8,Other,CT,6001442100,4421,Alameda,6001,...,0,0,0,1,0,0,0,0,0,0
1,774,Percent of Population within 1/4 Mile of Alcoh...,2014,1,AIAN,CD,600190020,Alameda,Alameda,6001,...,0,0,0,1,0,0,0,0,0,0
2,774,Percent of Population within 1/4 Mile of Alcoh...,2014,3,AfricanAm,CD,600190020,Alameda,Alameda,6001,...,0,0,0,1,0,0,0,0,0,0
3,774,Percent of Population within 1/4 Mile of Alcoh...,2014,2,Asian,CD,600190020,Alameda,Alameda,6001,...,0,0,0,1,0,0,0,0,0,0
4,774,Percent of Population within 1/4 Mile of Alcoh...,2014,4,Latino,CD,600190020,Alameda,Alameda,6001,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
#to export a table, use this code:
#send df to engine
df_to_be_sent_name(name='table name', con=engine)